body{
	overflow-x: hidden;
}

/*======================
-------TEXT STYLES------
=======================*/

p, ul, ol, li{
	font-family: "lora regular";
	font-size: 14px;
	line-height: 20px;
	
}
i b{
	font-family: "lora bold italic";
	font-size: 14px;
}
b{
	font-family: 'lora bold';
	font-weight: thin;
}
span.sub-bold{
	font-family: 'lato black';
}
span.body-bold{
	font-weight: bolder;
}
.list-styles {
	list-style-type: none;
}
footer{
	font-family: 'lato light';
	padding-top: 10px;
	border-top: 2px solid #ddd;
}
span.footer-bold{
	font-family: 'lato black';
}
table{
	width: 100%;
	display: table;
}
tr{
	display: table-row;
}
td{
	vertical-align: top;
}
td.text-left{
	display:table-cell;
    width:25%;
}
td.text-center{
	display:table-cell;
    text-align:center;
    width:50%;
}
td.text-right{
	display:table-cell;
    width:25%;
}
td.foot-text{
	font-size: 10px;
}
p.text-disclaimer{
	font-size: 10px;
	font-family: 'lato light';
	text-align: center;
}
p.text-disclaimer a{
	color: black;
	text-decoration: none;
	font-family: 'lato black';
}
p.text-disclaimer a:hover{
	font-family: 'lato black';
}
@media(max-width: 995px){
	p.text-disclaimer a:hover{
	font-family: 'lato light';
}
}
/*======================
------COLOR HELPERS-----
=======================*/

.blue{
	background-color: #59AFC7;
	color: white;
}
.peach {
	background-color: #d9aa90;
	color: white;
}
.green {
	background-color: #47a77e;
	color: white;
}

/*======================
------COLORED TEXT-----
=======================*/


h1.textBlue, h1.textPeach, h1.textGreen{
	font-size: 80px;
	font-family: 'Lora Regular'
}
h2.textBlue, h2.textPeach, h2.textGreen{
	font-family: 'Lora Regular';
	font-size: 40px;
}
h2.textGreen{
	font-family: 'Lora Regular';
	font-size: 40px;
}
h4.textBlue, h4.textPeach, h4.textGreen{
	font-size: 17px;
	font-family: 'Lato Black'
}
h5.textBlack{
	font-family: "lora bold italic";
	font-weight: bold;
}
h6{
	font-family: "lato black";
	font-size: 14px;
}
.textBlue{
	color: #59AFC7;
}
.textPeach{
	color: #d9aa90;
}
.textGreen{
	color: #47a77e;
}

/*======================
-----LOGO, TOP-IMG-----
=======================*/

#logo{
	padding-top: 20px;
	padding-left: 20px;
}
.greenCardImg{
	margin-left: auto;
	margin-right: auto;
}
.O-1VisaImg{
	margin-left: auto;
	margin-right: auto;
}
.animation{
	margin-left: auto;
	margin-right: auto;
}

.container-fluid{
	position: relative;
}

.charticon{
	padding-left: 10px;
	padding-bottom: 5px;
}


/*======================
------SIDEBAR NAV-----
=======================*/
#sidebar-left li a.red{
	color: #C74533;
}
#sidebar-left li a.red:visited{
	color: #C74533;
}
.affix{
	position: fixed;
	top: 20%;
	z-index: 10;
}
ul.absolute{
	position: absolute;
	top:20%;
	left:-5%;
	z-index: 10;
}
/*ul#sidebar-left{
	position: fixed;
	top: 20%;
	z-index: 10;
}*/
ul#sidebar-left{
	position: absolute;
	top: 20%;
	left:-5%;
	z-index: 10;
}
ul#sidebar-left li{
	padding-bottom: 15px;
}
#sidebar-left li a{

	font-family: "lato light";
	color: #58595B;
	text-decoration: none;
}
#sidebar-left li a:hover{
	font-family: "lato black";
	color: #58595B;
	text-decoration: none;
}
#sidebar-left li a:active{
	font-family: "lato black";
	color: #58595B;
	text-decoration: none;
}
#sidebar-left li a:visited{
	font-family: "lato black";
	color: #58595B;
	text-decoration: none;
}
.fixed{
	position: fixed;
}
/*ul#sidebar-left .absolute{
	position: absolute;
	position: absolute;
	margin-top: 17%;
	left: 15%;
	z-index: 10;
}*/
/*#nav{
	position: relative;
}*/

/*======================
------TOP NAVABAR-----
=======================*/

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	background-color: #fff !important;
}
.navbar-default .navbar-toggle {
	border-color: #fff !important;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #000 !important;
}
ul#nav{
	list-style-type: none;
}
#nav li{
	display: inline;
}
#nav a{
	color: #58595B;
	font-size: 15px;
	font-family: "lato light";
	font-weight: bold;
	text-decoration: none;
}
#nav a.eric:hover{
	color: #59AFC7;
}
#nav li.active a.eric{
	color: #59AFC7;
}
#nav a.visa:hover{
	color: #D9AA90;
}
#nav li.active a.visa{
	color: #D9AA90;
}
#nav a.card:hover{
	color: #47A77E;
}
#nav li.active a.card{
	color: #47A77E;
}
.navbar-default{
	background-color: #fff !important;
	border: none !important;
}
.navbar{
	margin-bottom: 0px;
	border: none;
}

/*======================
------DROPDOWN MENU-----
=======================*/

.dropdown-open a.dropdown-toggle{
	
	color: blue;
}
.dropdown-icon{
    background-color: #757577;
    padding: 1px 9px 1px 9px !important;
    margin-top: 15px;
  }
.dropdown-icon:hover{
    border: 1px solid #58595B;
    background-color: white;
    color: black;
}
a.dropdown-toggle:hover, li.dropdown:hover{
	color: black;

}  
.dropdown .dropdown-toggle>.dropdown-icon{
	color: #fff;
}
.dropdown .dropdown-toggle>.dropdown-icon:hover{
	color: #000;
}

/*=====================
----dropdown hover-----
=======================*/

.dropdown-submenu {
    position: relative;
}


.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -30px;
    margin-left: -1px;
/*    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;*/

}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 10px;
    height: 10px;
    border: 1px solid transparent;
 	/*border-radius: 0px 0px 10px 00px;*/
    border-top-color: #ccc;
    border-right-color: #ccc;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    /*margin-top: 5px;*/
    margin-left: -10px;
}


.dropdown-submenu.pull-left {
    float: none;
}


/*======================
------ACCORDION-----
=======================*/

.bar .panel-title{
	color:white;
	font-family: 'Lora Regular';
	vertical-align: center;
	
}
#accordion{
	/*margin-top: 50px; */
}
.panel.panel-default{
	border: none;
}
.bar{
	vertical-align: center;
}
@media(max-width: 990px){		
	.bar .panel-title{
		font-size: 40px;		
	}

	div.panel-title{
		height: 46px;
	}
	h4.panel-title{
		padding: 0px 75px 0px 75px;
		margin-top: 0px;
	}
	#accordion.panel-group{
	 	width: 100%;
	}
}
@media(max-width: 768px){
	.bar .panel-title{
		font-size: 24px;
	}
	div.panel-title{
		height: 30px;	
	}
	h4.panel-title{
		padding-left: 20px;
	}
}

/*======================
------BOTTOM BUTTON-----
=======================*/

.btn.btn-peach{
	color: #d9aa90;
	border: 2px solid #d9aa90;
	border-radius: 0px;
	padding: 10px 100px 10px 100px;

}
a.btn-peach{
	font-family: 'Lato Black';
}
a.btn-peach:hover{
	background-color: #d9aa90;
	color: white;

}
.btn.btn-green{
	color: #47a77e;
	border: 2px solid #47a77e;
	border-radius: 0px;
	padding: 10px 100px 10px 100px;
}
a.btn-green{
	font-family: 'Lato Black';
}
a.btn-green:hover{
	background-color: #47a77e;
	color: white;
}
.btn.btn-blue{
	color: #59AFC7;
	border: 2px solid #59AFC7;
	border-radius: 0px;
	padding: 10px 100px 10px 100px;
}
a.btn-blue{
	font-family: 'Lato Black';
}
.btn.btn-blue:hover{
	background-color: #59AFC7;
	color: white;
}

.btn.btn-blue{
	border: 2px solid #59AFC7;
	border-radius: 0px;
	color: #59AFC7;
	padding: 10px 100px 10px 100px;
}

/*======================
----Read more button-----
=======================*/
span.article{
	font-size: 17px;
	font-family: 'lora regular'
}
span.painters{
	padding-right: 33px;
}